<!-- apply -->
<%-include('../common/header')%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>202 Project</title>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="/service/apply.js"></script>
    <link rel="stylesheet" href="/css/apply.css" />
  </head>
  <body>
    <form id="applyForm">
      <div id="apply">
        <div id="modal" class="modal">
          <div class="modal_content">
            <div class="apply_info">
              <img src="/img/beMyFamily.jpeg" width="300px" /><br />
              <table>
                <tr>
                  <td>
                    <label for="reservationDate" class="input"
                      >방문 예정일</label
                    >
                  </td>
                  <td>
                    <input
                      type="date"
                      id="reservationDate"
                      name="reservationDate"
                      class="input"
                      min="2022-01-01"
                      max="2022-12-31"
                    />
                  </td>
                </tr>
                <tr>
                  <td>이름</td>
                  <td>
                    <input
                      type="text"
                      name="userName"
                      id="name"
                      class="input"
                      placeholder="이름을 입력해주세요"
                      size="15"
                    />
                  </td>
                </tr>

                <tr>
                  <td>나이</td>
                  <td>
                    <input
                      type="text"
                      id="age"
                      name="userAge"
                      class="input"
                      placeholder="나이을 입력해주세요"
                      size="15"
                    />
                  </td>
                </tr>

                <tr>
                  <td>방문사유</td>
                  <td>
                    <textarea
                      name="activity"
                      placeholder="방문시 희망하는 활동이나 방문 사유를 작성해주세요."
                      id="activity"
                      class="input"
                    ></textarea>
                  </td>
                </tr>
              </table>
              <button type="submit" id="submit" class="button">apply</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
