<!-- home -->
<%-include('common/header')%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>202 Project</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="home">
      <div id="info">who visited in January?</div>
      <img src="/img/Frame 1.png" id="mimoge" />
      <div id="who">jison(18, sister) _ 개발중, 데이터로 대체할 것</div>
    </div>
  </body>
</html>
