<!-- main -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>202 Project</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="main_conent">
      <div class="hide_zone">welcome!</div><br>
      <div class="button_login">No. 202</div>
      Project <br />:SY's houseComing Project
    </div>
  </body>
</html>
