<!-- main -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>202 Project</title>
    <script src="https://code.jquery.com/jquery-latest.js"></script> 
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/service/main.js"></script>
  </head>


  <body>
    <div id="modal" class="modal">
        <div class="modal_content">
          <form id="loginForm">
            <h2>login</h2><br><br>
            <table>
              <tr>
                <td>id</td><td><input type="name" id="id" class="input_login"></td>
              </tr>
              <tr>
                <td>password</td><td><input type="password" id="password" class="input_login"></td>
              </tr>
            </table>
            <button id="close">close</button>
            <button id="submit">submit</button>
          </form>
           
        </div>
    </div>



    <div class="main_conent">
      <div class="hide_zone">welcome! click me</div><br>
      <div class="button_login">No. 202</div>
      Project <br />:SY's houseComing Project
    </div>
  </body>
</html>
