<!-- home -->
<%-include('header')%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>202 Project</title>
    <script src="https://code.jquery.com/jquery-latest.js"></script> 
    <script src="/service/notice.js"></script>
    <link rel="stylesheet" href="/css/notice.css" />
  </head>
  <body class="notice">  


    <div id="canvas">
      
    </div>
      notice
  </body>
</html>