<!-- header -->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/header.css" />
    <meta charset="utf-8" />
  </head>
  <div id="head">
      <span id="welcome"><a class="nav" href='/home'>welcome</a></span>
      <ul id="nav">
        <li><a class="nav" href="#">review</a></li>
        <ul id="schedule_sub">
          <li><a href='/schedule/'>apply</a> </li>
          <li><a href='/schedule/list'>reservationList</a> </li>
      </ul>
      <li><a class="nav" id="schedule" href="/schedule/">apply(개발 중)</a></li>
        <li><a class="nav" href="/notice/">notice</a></li>
      </ul></div> 
</html>
