<!-- header -->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/header.css" />
    <meta charset="utf-8" />
  </head>
  <div id="head">
      <span id="welcome"><a  href='/home'>welcome</a></span>
      
      <ul id="nav">
        <li><a  href="/notice/">notice</a></li>
        <li><a  href="/review/">review</a></li>
        <ul id="schedule_sub">
          <li><a href='/schedule/'>apply</a> </li>
          <li><a href='/schedule/list'>reservationList</a> </li>
        </ul>
      </ul></div> 
</html>
